@import "tailwindcss";

@theme {
  --default-font-family: "Nunito", sans-serif;
  
  --color-white: #E7EDF4;
  --color-gray-100: #C4D4E3;
  --color-gray-200: #AFC2D4;
  --color-gray-300: #7B96B2;
  --color-gray-400: #3A536B;
  --color-gray-500: #1C2F41;
  --color-gray-600: #112131;

  --color-blue: #3294F8;

  --color-blue-dark-100: #0B1B2B;
  --color-blue-dark-200: #071422;
  --color-blue-dark-300: #040F1A;
}


